@font-face {
    font-family: 'SEGA-LOGO-FONT';
    src:url('SEGA-LOGO-FONT.ttf.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'SEGA-LOGO-FONT';
	font-weight: 200;
	color: #0ccac4;

}